.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  gap: 0.2rem;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.4rem;
  flex-direction: column-reverse;
  box-shadow: 0 0 10px rgb(56, 56, 56);
  background-color: white;
}
