.container {
  background-color: rgb(56, 138, 138);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  color: white;
  gap: 1rem;
  border-radius: 0.4rem;
}

.input-title {
  width: 100%;
  padding: 0.4rem;
  border-radius: 0.4rem;
  border: none;
  transition: 0.1s ease;

  &:focus {
    outline: 4px solid rgb(0, 159, 145);
  }
}

.add-btn {
  cursor: pointer;
  transition: 0.2s ease;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 0.4rem;
}
